# Python/build artifacts
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Environments & lock caches
.venv/
.uv/

# Tool caches / IDE
.mypy_cache/
.pytest_cache/
.ruff_cache/
.vscode/

# Logs
*.log
logs/
nohup.out

# OS/editor junk
.DS_Store
Thumbs.db

# Large or local-only stuff
data/
artefacts/
#artifacts/*      # comment out if I want artifacts baked into the image

# Docker-specific
Dockerfile
docker-compose.yml

# Git
.git
.gitignore